{% extends "layout.html" %}
{% block content %}

<h2>Create Ticket</h2>

<form method="post">
<label>Project</label>
<input type="text" name="project" class="form-control" placeholder="Enter project name">
<input name="title" placeholder="Title" class="form-control mb-2">

<textarea name="description" placeholder="Problem" class="form-control mb-2"></textarea>
 <select name="project" class="form-control mb-2"> 
<option value="Website">Website</option>
<option value="Mobile">Mobile</option>
<option value="Internal">Internal</option>
</select>

<button class="btn btn-success">Create</button>

</form>

{% endblock %}